node_modules/
.expo/
npm-debug.*
.DS_store
.idea
.tags
android/app/build
android/build
android/.gradle
ios/jog.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
jog.app.dSYM.zip
*.ipa
Preview.html
