<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>766819384419-jvfmnmrifnpuce3t4gmut153ntqvo7ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766819384419-jvfmnmrifnpuce3t4gmut153ntqvo7ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCk9Ap7fWlm3s9t0o28CEn0pdJG5PuLW28</string>
	<key>GCM_SENDER_ID</key>
	<string>766819384419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>insure.jog</string>
	<key>PROJECT_ID</key>
	<string>jog-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jog-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:766819384419:ios:2820eacc6be6be9a</string>
	<key>DATABASE_URL</key>
	<string>https://jog-dev.firebaseio.com</string>
</dict>
</plist>
